.bloodBank{
  height: 89.9vh;
  display: grid;
  grid-template-columns: .2fr 1fr;  
  /* border: 10px solid pink; */
}
table{
  border-collapse: collapse;
}

.patientTable{
  /* border: 10px solid black; */
  height: max-content;
  /* padding: 5em; */
  width: 80%;
  margin: 1em auto;
  
}

.patientTable button{
  all:unset;
  border: 1px solid black;
  padding:.4em 1em;
  background-color: #22242d;
  color:#fff;
 margin: 0 auto;
 cursor: pointer;
}
.patientTable button:disabled{
 cursor: not-allowed;
 background-color: silver;
 /* border: 1px solid gray; */
}


.patientTable td,.patientTable th{
 text-align: center;
 padding: 1em;
 border: 1px solid black;
 
}

.patientTable th{
  background-color: #282a35;
  color:white;
}

.card{
  /* border:2px solid black; */
  padding: 1em;
  font-size:1.3rem;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;
  display: flex;
  align-items: center;
  min-width: 250px;
  justify-content: center;
  align-items: center;

}

.dashboard__header{
  /* margin: 3em 5em; */
  /* border: 2px solid black; */
  width: 80%;
  margin: 0 auto;
}
.dashboard{
  /* border:2px solid black; */
  height: max-content;
  width: 90%;
  margin: 0 auto;
}
.card__header{
  /* border: 2px solid black; */
}
.card__count{
  /* border:2px solid black; */
}
.card__container{
  display: flex;
  gap:1.5em;
  width:max-content;
  margin: 0 auto;
}

.patient__card{
 
  background-color: #6f42c1;
}
.donor__card{
  background-color:#bf222b;
}
.bloodbank__card{
  background-color: #ffc107;
}