.registerForm {
  /* border:10px solid black; */
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  width: 50%;
  margin: 0 auto;
}
.registerForm form {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 0.5em;
  padding: 1em 0;
}

.registerForm form label {
  font-weight: 500;
}

.registerForm form button,
.navBar__login,
.navBar__logout {
  all: unset;
  border: 2px solid black;
  padding: 0.5em 1em;
  background-color: #22242d;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

.registerForm form input,
.registerForm form select {
  padding: 0.5em 1em;
  margin-top: 0.5em;
}

.registerForm header {
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
}

.navBar__login {
  background-color: green;
  border: none;
}
.navBar__logout {
  background-color: red;
  border: none;
}

.navBar__userLogin {
  margin-left: auto;
}
