.registerForm{
    /* border:10px solid black; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    
}
.registerForm form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap:.5em;
    padding:1em 0;
    
}

.registerForm form label{
    font-weight: 500;
    
}

.registerForm form button{
    all:unset;
    border: 2px solid black;
    padding:.5em 1em;
    background-color: #22242d;
    color:#fff;
   margin: 0 auto;
   cursor: pointer;
}


.registerForm form input,.registerForm form select{
    padding:.5em 1em;
    margin-top:.5em;
}

.registerForm header{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}